<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
Kerigan Marketing Associates, Inc.<br />
Administrative Offices:<br />
3706 Hwy 98, Mexico Beach, FL 32456<br />
Suite 103<br />
<br />
Phone:<br />
FL: 850-648-4560<br />
LA: 225-205-4562<br />
info@kerigan.com
</p>
